<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1 class="navbar-text" style="color:white">AmalgaNation</h1>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/profile" tabindex="-1" aria-disabled="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/games">Games</a>
    </li>
    <li class="nav-item">
      <form action="/logout?_method=DELETE" method="POST">
        <button id="logoutButton" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>

<ul class="list-group" style="opacity: 0.8;">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
    My AmalgaMates
    <span class="badge badge-primary badge-pill">3</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Diana Shull
    <span class="badge badge-success badge-pill" style="margin-left: 1%;">online</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Neal Gerber
    <span class="badge badge-success badge-pill" style="margin-left: 1%;">online</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Zacharie Lafleur
    <span class="badge badge-danger badge-pill" style="margin-left: 1%;">offline</span>
  </li>
</ul>

 <div class="col-sm-6" style="margin-top: 0.9%">
    <div class="card" style="opacity: 0.8;">
      <div class="card-body">
        <h5 class="card-title">Travel!</h5>
        <p class="card-text">With our virtual traveler you can go anywhere from the comfort of home! Type in a country to learn more about it and its culture!</p>
        <form action="/travel" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="search-country" name="searchcountry">
        </div>
        <button type="submit" class="btn btn-primary" id="travel-button">Explore</a>
        </form>
      </div>
    </div>
  </div>
<div>
  {{#each news}}
  <div class="col-sm-6" style="margin-top: 0.9%;">
    <div class="card" style="opacity: 0.8;">
      <div class="card-body">
        <h5 class="card-title">Welcome to, {{name}}!</h5>
        <p>Native Name: {{nativeName}}</p>
        <p>Region: {{region}}</p>
        <p>Capital: {{capital}}</p>
        <p>currencies: {{currencies}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<!-- <div>
  {{#each news}}
  <h1>Welcome to, {{name}}!</h1>
  <p>Native Name: {{nativeName}}</p>
  <p>Region: {{region}}</p>
  <p>Capital: {{capital}}</p>
  <p>currencies: {{currencies}}</p>

  {{/each}}
</div> -->

